<!-- footer -->

<footer>
    <div class="foot-info">
        <div class="foot-socialMedia">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy;StayBuddy Private Limited</div>
        <div class="foot-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
            
        <p><b>Created by Aadi Runwal</b><p>
    </div>
</footer>