<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stayBuddy</title>
    <link rel="icon" href="/assets/Logo.png">
    <link rel="stylesheet" href="/css/stayBuddy.css">
</head>
<body style="height: 100dvh; width: 100vw;;">
    <div class="homepage">
        <div class="homepage-nav"></div>
        <div class="homepage-info">
            <div class="homepage-brand">
                <img src="/assets/stayBuddy Logo.jpg" alt="Logo">
                <h1> StayBuddy </h1>
            </div>
            <h2>Find Your Perfect Stay, Anytime, Anywhere</h2>
            <a href='/listings'><button class="homepage-btn">Explore Listings</button></a>
        </div>

        <div class="homepage-footer"><br><b>Aadi Runwal</b></div>
    </div>
</body>
</html>