<% layout("/Layouts/boilerplate.ejs") %>

<body>
    <div class="row">
        <div class="col-6 offset-3">
            <br>
            <h3>Sign Up!</h3>
            <br>
            <form method="Post" action="/signup" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" placeholder="Enter Username" name="username" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid Username.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" placeholder="Enter email" name="email" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a valid Email.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" placeholder="Enter password" name="password" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a strong Password.
                    </div>
                </div>
                <br>
                <button class="btn btn-dark mb-4">SignUp</button>
            </form>
            <br><br>
        </div>
    </div>
</body>